<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Raspberry Pi Weather Monitor</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<table style="width: 100%">
	<tr>
		<td colspan="2" align="left" class="sub_header">
			{% include 'sub_header.twig' %}
		</td>
	</tr>
	<tr>
		<td width="10%" valign="top" class="contents"><!-- Contents Index -->
			{% include 'contents.twig' %}
		</td>
		<td align="center" class="body"><!-- Body of page -->
